@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins';
}

:root {
  --color-primary: #3AAFA9;
  --color-secondary: #2B7A77;
}

::-webkit-scrollbar {
  width: .4rem;
  height: .4rem;
}

::-webkit-scrollbar-thumb {
  background: #afafaf;
  border-radius: 5px;
}

::-webkit-scrollbar-track {
  background: transparent;
}